@use '../icons/font/flaticon.css';
@use '../icons/font/_material_icons';

@use './config' as *;
@use './nprogress';
@use './code';
@use './custom-blocks';
@use './arrow';
@use './mobile';

:root {
  --c-brand: #5b3cc4!important;
  --c-brand-light: #744dfc!important;
}

// new theme vuesax
.pruebax {
	background: #1510b8;
	padding: 10px;
	margin: 20px;
	color: #d49b7a;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Regular.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "MontserratThin";
	src: url("../fonts/MONTSERRAT-EXTRALIGHT.OTF");
	font-weight: normal;
	font-style: normal;
}

.examplex .vs-switch,
.demo .vs-switch,
.examplex .vs-button,
.demo .vs-button {
	margin: 3px;
}
.centerx {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.leftx {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: MontserratThin;
	font-weight: 600;
    line-height: 1.25;
    //color:rgb(160,158,174),
}
b {
	font-family: Montserrat !important;
}
.con-home {
	overflow: hidden;
}
.modelx {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background: #f5f5f5;
	display: inline-block;
	border-radius: 5px;
}
*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	display: block;
}
*::-webkit-scrollbar-thumb {
	background: #e4eaf5;
	border-radius: 5px;
	&:hover {
		background: #c4c9d3;
	}
}
.sidebar {
	font-size: 14px;
	background-color: #f5f7fb;
	width: 15rem;
	position: fixed;
	z-index: 1010;
	margin: 0;
	top: 3rem;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	overflow-y: auto;
	.c-sidebar {
		padding-right: 5px;
		&::-webkit-scrollbar {
			width: 0px !important;
		}
	}
	&:hover {
		.c-sidebar {
			padding-right: 0px;
			&::-webkit-scrollbar {
				width: 5px !important;
			}
		}
	}
}
.gridx {
	.vs-row {
		border-top: 1px solid #d2d2d2;
		&:last-child {
			border-bottom: 1px solid #d2d2d2;
		}
	}
	.vs-col {
		color: #969696;
		background: #f5f5f5;
		border-left: 1px solid #d2d2d2;
		p {
			background: transparent !important;
			padding: 7px !important;
		}
		&:last-child {
			border-right: 1px solid #d2d2d2;
		}
		h3 {
			font-weight: lighter;
			font-size: 16px !important;
			a {
				display: none;
			}
		}
	}
}
.con-alignment {
	.vs-col {
		&:nth-child(3) {
			height: 130px;
		}
	}
}
.demo {
	margin-top: 10px;
}
html,
body {
	padding: 0;
	margin: 0;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 15px;
	color: #5b5777!important;
}
.page {
	padding-left: 15rem;
	margin-right: 16.5rem;
	border-right: 1px solid rgba(0,0,0,0.05);
}
.navbar {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	height: 3rem;
	background-color: #fff;
	box-sizing: border-box;
	transition: all 0.3s ease;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0);
}
.sidebar-mask {
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
}
.content {
	&:not(.custom) {
		max-width: 1200px;
		margin: 0 auto;
		padding-top: 3rem;
		& > *:first-child {
			margin-top: 3rem;
		}
		a {
			&:hover {
				text-decoration: underline;
			}
		}
		p {
			&.demo {
				padding: 1rem 1.5rem;
				border: 1px solid #ddd;
				border-radius: 4px;
			}
		}
		img {
			max-width: 100%;
		}
	}
	&.custom {
		padding: 0;
		margin: 0;
	}
	& > h1 {
		strong {
			display: none;
		}
	}
}
a {
	font-weight: 500;
	color: #5b3cc4;
	text-decoration: none;
	&.header-anchor {
		font-size: 0.85em;
		float: left;
		margin-left: -0.87em;
		padding-right: 0.23em;
		margin-top: 0.125em;
		opacity: 0;
		transform: translate(-10px);
		&:hover {
			text-decoration: none;
		}
	}
}
p {
	a {
		code {
			font-weight: 400;
			color: #5b3cc4;
		}
	}
}
kbd {
	background: #eee;
	border: solid 0.15rem #ddd;
	border-bottom: solid 0.25rem #ddd;
	border-radius: 0.15rem;
	padding: 0 0.15em;
}
blockquote {
	font-size: 1.2rem;
	color: #999;
	border-left: 0.25rem solid #dfe2e5;
	margin-left: 0;
	padding-left: 1rem;
}
ul,
ol {
	padding-left: 1.2em;
	line-height: 1.7;
	padding-top: 6px;
	padding-bottom: 6px;
}
strong {
	font-weight: 600;
}
.content:not(.custom) > h1,
.content:not(.custom) > h2,
.content:not(.custom) > h3,
.content:not(.custom) > h4,
.content:not(.custom) > h5,
.content:not(.custom) > h6 {
	margin-top: -2.5rem;
	padding-top: 4rem;
	margin-bottom: 0;
}
.content:not(.custom) > h1:first-child,
.content:not(.custom) > h2:first-child,
.content:not(.custom) > h3:first-child,
.content:not(.custom) > h4:first-child,
.content:not(.custom) > h5:first-child,
.content:not(.custom) > h6:first-child {
	margin-top: -1.5rem;
	margin-bottom: 1rem;
}
.content:not(.custom) > h1:first-child + p,
.content:not(.custom) > h2:first-child + p,
.content:not(.custom) > h3:first-child + p,
.content:not(.custom) > h4:first-child + p,
.content:not(.custom) > h5:first-child + p,
.content:not(.custom) > h6:first-child + p,
.content:not(.custom) > h1:first-child + pre,
.content:not(.custom) > h2:first-child + pre,
.content:not(.custom) > h3:first-child + pre,
.content:not(.custom) > h4:first-child + pre,
.content:not(.custom) > h5:first-child + pre,
.content:not(.custom) > h6:first-child + pre,
.content:not(.custom) > h1:first-child + .custom-block,
.content:not(.custom) > h2:first-child + .custom-block,
.content:not(.custom) > h3:first-child + .custom-block,
.content:not(.custom) > h4:first-child + .custom-block,
.content:not(.custom) > h5:first-child + .custom-block,
.content:not(.custom) > h6:first-child + .custom-block {
	margin-top: 2rem;
}
h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
	opacity: 1;
	transform: translate(0px);
}
h1 {
	font-size: 2.1rem;
}
h2 {
	font-size: 1.65rem;
	padding-bottom: 0.3rem;
	border-bottom: 1px solid #eaecef;
}
h3 {
	font-size: 1.35rem;
}
code,
kbd {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.con-menu-vc {
	ul {
		padding-top: 0px;
		padding-bottom: 0px;
		li {
			padding-top: 3px !important;
			padding-bottom: 3px !important;
		}
	}
}
.tip {
	ul {
		margin-left: 20px;
	}
}
hr {
	border: 0;
	border-top: 1px solid #eaecef;
}
.con-api {
	table {
		border-collapse: collapse;
		margin: 1rem 0;
	}
	tr {
		border-top: 1px solid #dfe2e5;
		&:nth-child(2n) {
			background-color: #f6f8fa;
		}
	}
}
.con-api th,
.con-api td {
	border: 1px solid #dfe2e5;
	padding: 0.6em 1em;
}
.custom-layout {
	padding-top: 3rem;
}
.theme-container {
	overflow: hidden;
	&.sidebar-open {
		.sidebar-mask {
			display: block;
		}
	}
	&.no-sidebar {
		.page {
			padding-left: 0;
			padding-right: 0px !important;
		}
	}
}
.theme-container.no-navbar .content:not(.custom) h1,
.theme-container.no-navbar .content:not(.custom) h2,
.theme-container.no-navbar .content:not(.custom) h3,
.theme-container.no-navbar .content:not(.custom) h4,
.theme-container.no-navbar .content:not(.custom) h5,
.theme-container.no-navbar .content:not(.custom) h6 {
	margin-top: 1.5rem;
	padding-top: 0;
}

@media (min-width: ($MQMobile + 1px)) {
  .theme-container.no-sidebar {
		.sidebar {
			display:none;
		}
		.page {
			padding-left:0;
			padding-right: 0px !important;
		}
	}
}

// fix back-to-top
.back-to-top {
    -webkit-mask: url(../../../public/back-to-top.svg)no-repeat;
}

// fix vs-table
table.vs-table {
  display: table!important;
}
